// @font-face {
//     font-family: 'Material Icons';
//     font-style: normal;
//     font-weight: 400;
//     src: local('Material Icons'),
//       local('MaterialIcons-Regular'),
//       url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
//       url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
// ;
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -webkit-font-feature-settings: 'liga';
//   -webkit-font-smoothing: antialiased;
// }

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    src: 
      url('../assets/fonts/fontawesome-webfont.eot?v=4.4.0'),
      url('../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
      url('../assets/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
      url('../assets/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
      url('../assets/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
      url('../assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg')
}

$font-awesome: 'FontAwesome';